**/*.ucf
**/*.gise
**/*.xise
**/*.bgn
**/*.bld
**/*.cmd_log
**/*.drc
**/*.lso
**/*.ncd
**/*.ngc
**/*.ngd
**/*.ngr
**/*.par
**/*.pcf
**/*.prj
**/*.stx
**/*.syr
**/*.twr
**/*.twx
**/*.unroutes
**/*.ut
**/*.vhd
**/*.xst
**/*.xwbt
**/*.html
**/*.map
**/*.mrp
**/*.ngm
**/*.csv
**/*.txt
**/*.xrpt
**/*.ngm
**/*.bit
**/*.ipf
**/*.pad
**/*.ptwx
**/*.xpi
**/*.xml
**/*.xsl
**/*.log
**/*.exe
**/*.wdb
**/*.xmsgs
**/*.cmd
**/*.ini
**/*.xdl
**/*.svf
**/*.xsvf
**/*.tcl
**/*.debug
**/*.bin
**/*.wcfg

**/_ngo
**/_xmsgs
**/iseconfig
**/xlnx_auto_0_xdb
**/xst
**/isim

